body{
  background-image: linear-gradient(to bottom right, #87CEFA, #9932CC);
}

#score{
    font-size: 30px;
    margin-left: 50px;
}

#timer{
    font-size: 30px;
    float: right;
    margin-right: 50px;
}

#sketchToBeDrawn{
  font: bold;
  color: rgb(206, 12, 206);
  font-size: 50px;
}

canvas{
  margin-top: 145;
}
